<div class="container">
  <form [formGroup]="searchForm">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search people..." matInput formControlName="query" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let suggestion of suggestions$ | async" [value]="suggestion.query">
          {{ suggestion.query }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <ng-container *ngIf="people$ | async as people">
    <p class="people-list__count" *ngIf="people.length">
      People: {{people.length }}/{{ count$ | async }}
    </p>
    <p *ngIf="searchForm.dirty && !people.length && !(isPeopleLoading$ | async)" class="people-list__count">People not
      found</p>
  </ng-container>

  <cdk-virtual-scroll-viewport itemSize="50" class="people-list" (scrolledIndexChange)="onScroll()">
    <div class="people-list__loading" *ngIf="isPeopleLoading$ | async; else peopleList">Loading people...</div>
    <ng-template #peopleList>
      <app-people-list *ngIf="people$ | async as people" [people]="people">
      </app-people-list>
    </ng-template>
    <div *ngIf="error$ | async as error">{{error}}</div>
  </cdk-virtual-scroll-viewport>
</div>